@import 'reset';

/* noto-sans-jp-regular - latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/noto-sans-jp-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-jp-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-jp-700 - latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/noto-sans-jp-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-jp-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e4e4e4;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.header__logo {
  max-height: 50px;
}

.header__container {
  max-width: 1050px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header-button__icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.header-button__icon-red {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  fill: #ff0000;
}

.favorites-button {
  border: none;
  border-radius: 15px;
  padding: 13px 45px;
  background-color: rgb(206, 206, 206);
  font-weight: bold;
  font-size: 16px;
  outline: none;
  cursor: pointer;

  &:hover, &:active {
    outline: 0;
    border-color: #c9c9c9;
    box-shadow: 0 0 0 0.2rem rgba(192, 192, 200, 0.7);
  }
}

.filters-form {
  position: fixed;
  top: 80px;
  left: 10px;
  display: flex;
  flex-direction: column;
  max-width: 220px;
  width: 100%;
  font-size: 20px;
  background-color: #e4e4e4;
  padding: 20px;
  border-radius: 15px;
}

.filters-form__name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.filters-form__label {
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 15px;
  padding: 5px;

  &:hover, &:active {
    outline: 0;
    border-color: #c9c9c9;
    box-shadow: 0 0 0 0.2rem rgba(192, 192, 200, 0.7);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.filters-form__input {
  display: none;

  &:checked + .filters-form__label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
  }
}

.filters-form .filters-form__label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  left: 0;
  bottom: 1px;
  background-color: #aaa;
  box-shadow: inset 0px 2px 3px 0px rgb(0 0 0 / 30%), 0px 1px 0px 0px rgb(255 255 255 / 80%);
}

.sorting-form {
  margin-top: 85px;
  margin-bottom: 15px;
  text-align: right;
}

.sorting-form__label {
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}

.sorting-form__select {
  max-width: 150px;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  outline: 0;
  color: rgba(0, 22, 41, 0.774);
  border: 1px solid #ced4da;
  border-radius: 15px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  transition: border-color 0.15s ease, box-shadow 0.15s ease-in-out;

  &:focus, &:hover, &:active {
    outline: 0;
    border-color: #c9c9c9;
    box-shadow: 0 0 0 0.2rem rgba(192, 192, 200, 0.7);
  }
}

.films-list {
  display: flex;
  flex-direction: column;
}

.films-favorites {
  display: flex;
  flex-direction: column;
  margin-top: 85px;
}

.list-item {
  display: flex;
  padding: 24px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  border-radius: 15px;
  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #F0F0F0;
  }
}

.list-item__id {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
}

.list-item__link {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #000000;
  margin-left: 0;
}

.list-item__img {
  max-width: 90px;
  max-height: 135px;
  margin-right: 20px;
}

.list-item__text {
  margin-right: 20px;
  max-width: 80%;
}

.list-item__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-item__description {
  line-height: 20px;
}

.list-item__icon {
  margin-left: auto;
  height: 35px;
  width: 35px;
}

.list-item__icon-red {
  margin-left: auto;
  height: 35px;
  width: 35px;
  fill: #ff0000;
}

.movie-info {
  display: flex;
  padding-top: 90px;
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}

.movie-info__img {
  max-height: 300px;
  margin-right: 20px;
  margin-left: 20px;
}

.movie-info__text {
  margin-right: 20px;
  max-width: 80%;
  flex-basis: 100%;
}

.movie-info__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-info__description {
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

.movie-info__subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-movie {
  font-size: 18px;
}

.about-movie__item {
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.about-movie__item-title {
  font-weight: bold;
}

.about-movie__item-value,
.about-movie__item-title {
  display: inline;
}

@media (max-width: 1800px) {
  .filters-form {
    position: inherit;
    max-width: 1280px;
    top: none;
    left: none;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 15px;
  }

  .filters-form__name {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .filters-form__label {
    margin-right: 10px;
  }

  .sorting-form {
    margin-top: 0;
  }
}

@media (max-width: 427px) {
  .movie-info {
    flex-direction: column;
    align-items: center;
  }
  
  .movie-info__img {
    margin-bottom: 20px;
  }
}